<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread] %-5level %X{Correlation-Id} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger additivity="false" level="DEBUG" name="com.github.anddd7">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>